/* RESET */
* {
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}

/* PAGE MODIFICATION */
#modif {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#modif h2 {
    margin-bottom: 20px;
    color: black;
    font-size: 40px;
}   

#nouveauMdp, #nouveauTimer {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid gray;
    width: 250px;
}

#saveMdp {
    padding: 5px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;   
    cursor: pointer;
    letter-spacing: 1px;    
    transition: all 400ms ease-in-out;
}

#saveMdp:hover {
    background-color: rgb(118, 5, 5);
    color: white;
}

#infosActuelles {
    margin-top: 10px;
    color: black;
    font-size: 18px;
}

#mdpActuel, #timerActuel {
    font-weight: bold;
    font-size: 25px;
}

/* TIMER MAIN PAGE */
#timermdp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 50px;
    background-color: rgb(80, 2, 2);
    font-weight: bold;
    color: black;
}

#mdpCases {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 15px 0;
}

.mdpCase {
    width: 40px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    text-transform: lowercase;
}