* {
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    background-color: rgb(143, 4, 4);
}

/* #timermdp {
    } */

#timer {
    font-size: 50px;
    font-weight: bold;
    color: black;
}